.text-editor {
  position: fixed;
  left: 0;
  top: 0;
  background-color: white !important;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  color: black !important;
  .headerbar{
    margin: 0.3%;
    .headerbar-left {
      float: left;
    }
    .form-inline{
      float: left;
    }
    .search-box{
      width: 25vh !important;
    }
    .headerbar-right{
      float: right;
    }
  }
  .toolbar{
    .toolbar-selector{
      width: 6%;
      float: left;
      margin-left: 0.25%;
      margin-right: 0.25%;
    }
    .toolbar-divider{
      margin-left: 0.25%;
      margin-right: 0.25%;
      float: left;
    }
    .toolbar-style-button {
      margin-left: 0.25%;
      margin-right: 0.25%;
      float: left;
    }
  }
}
